.masonry-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.masonry-item {
    position: absolute;
    box-sizing: content-box;
    cursor: pointer;
}

.masonry-image {
    position: relative;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 6px;
    box-shadow: 0px 4px 20px -5px rgba(0, 0, 0, 0.15);
    text-transform: uppercase;
    font-size: 10px;
    line-height: 10px;
}

.color-overlay {
    position: absolute;
    inset: 0;
    border-radius: 10px;
    background: linear-gradient(to top right, rgba(236, 72, 153, 0.5), rgba(14, 165, 233, 0.5));
    opacity: 0;
    pointer-events: none;
}